.container {
    height: 100%;
    width: 100%;
    display: flex;

    .grandleft {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .TextContainer {
            height: 85%;
            width: 90%;

            h2 {
                background-color: #233b29;
                font-size: 30px;
                text-align: center;
                letter-spacing: 1px;
                padding: 2%;
            }

            hr {
                height: 0.5px;
                background-color: white;
                width: 100%;
            }

            p {
                font-style: italic;
                padding: 2%;
            }
        }
    }

    .right {
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mapa {
    transition: all 0.5s ease-in-out;
}

.mapa:hover {
    transform: scale(1.05);
}